<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tor.project.mapper.primary.JzzpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tor.project.entity.Jzzp">
        <id column="ZPID" property="zpid"/>
        <result column="SFZH" property="sfzh"/>
        <result column="XM" property="xm"/>
        <result column="SBKH" property="sbkh"/>
        <result column="ZPLJ" property="zplj"/>
        <result column="TJSJ" property="tjsj"/>
        <result column="SFYX" property="sfyx"/>
        <result column="SFYGXR" property="sfygxr"/>
        <result column="BZ" property="bz"/>
        <result column="GXZPLJ" property="gxzplj"/>
        <result column="GXSJ" property="gxsj"/>
        <result column="TZZZT" property="tzzzt"/>
        <result column="CBDQ" property="cbdq"/>
        <result column="LSZPLJ" property="lszplj"/>
        <result column="LSZPSCORE" property="lszpscore"/>
        <result column="REASONOFPHOTOMISSING" property="reasonofphotomissing"/>
        <result column="PHOTOSOURCETYPE" property="photosourcetype"/>
        <result column="FZZD" property="fzzd"/>
        <result column="TZZZT_TEMP" property="tzzztTemp"/>
        <result column="MSG" property="msg"/>
        <result column="PERSONALNUMBER" property="personalnumber"/>
        <result column="NOTONESELF" property="notoneself"/>
        <result column="LSZP_UPDATE_TIME" property="lszpUpdateTime"/>
        <result column="MODELING_STATE" property="modelingState"/>
        <result column="THREAD_NUMBER" property="threadNumber"/>
        <result column="INSURED_AREA_CODE" property="insuredAreaCode"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ZPID, SFZH, XM, SBKH, ZPLJ, TJSJ, SFYX, SFYGXR, BZ, GXZPLJ, GXSJ, TZZZT, CBDQ, LSZPLJ, LSZPSCORE, REASONOFPHOTOMISSING, PHOTOSOURCETYPE, FZZD, TZZZT_TEMP, MSG, PERSONALNUMBER, NOTONESELF, LSZP_UPDATE_TIME, MODELING_STATE
    </sql>

    <select id="migrateJzppHyInfoJob" resultType="com.tor.project.entity.HyJzzpPhoto">
        declare
            begin
            for i in (select GRBH,SFZH,XM,SMKH,to_date(JBRQ,'yyyy-MM-dd hh24:mi:ss') TJSJ from v_hy_人员信息@hy_person where not exists(select 1 from YW_JZZP where PERSONALNUMBER = GRBH))
                loop
                insert into yw_jzzp(ZPID,PERSONALNUMBER,sfzh,XM,SBKH,THREAD_NUMBER,TJSJ) VALUES(SYS_GUID(),i.GRBH,i.SFZH,i.XM,i.SMKH,(select floor(dbms_random.value(1, 5)) from dual),DECODE(i.TJSJ,null,sysdate,i.TJSJ));
                commit;
                end loop;
        end;
    </select>

    <select id="migrateJzppHyPhotoJob" resultType="com.tor.project.entity.HyJzzpPhoto">
        insert into yw_hy_jzzp_photo(id,sfz,xm,zp)
        select sys_guid(),sfz,xm,zp from v_hl_photo@hy_photo v
        where not exists(select 1 from yw_hy_jzzp_photo hy where hy.sfz = v.sfz and hy.xm = v.xm)
    </select>

    <select id="getHyJzzpZpBlobBySfzhAndXm" resultType="com.tor.project.entity.HyJzzpPhoto">
        SELECT sfz,xm,zp
        FROM YW_HY_JZZP_PHOTO
        <where>
            <if test="sfz != null and sfz != ''">
                AND sfz = #{sfz,jdbcType=VARCHAR}
            </if>
            <if test="xm != null and xm != ''">
                AND xm = #{xm,jdbcType=VARCHAR}
            </if>
            AND zp is not null
        </where>
    </select>

    <select id="migrateJyJzppInfo">
        declare
        begin
            for i in (select * from jysi.jgxt_cbry@to_dr left join YW_JZZP on AAC001 = PERSONALNUMBER where 18 >= length(AAE135) and FN_CHECKIDCARD(UPPER(AAE135)) = 1 and AAC001 is not null and PERSONALNUMBER is null )
                loop
                    insert into yw_jzzp(ZPID, PERSONALNUMBER,SBKH,SFZH, XM, TJSJ,THREAD_NUMBER)
                    VALUES (SYS_GUID(), i.AAC001,i.AAE135, i.AAE135,i.AAC003, sysdate,(select floor(dbms_random.value(1, 5)) from dual));
                    commit;
                end loop;
        end;
    </select>

    <select id="migrateJyLdjgInfo">
        declare
        begin
            for i in (
                select v.AKB020,MIN(v.AKB021) AKB021, MIN(v.AAE006) AAE006, MIN(v.AAE004) AAE004, MIN(v.AAE005) AAE005, MIN(v.AKB022) AKB022
                from jysi.jgxt_ldxx@to_dr v
                left join JC_LDJG on v.AKB020 = JGDM
                where v.AKB020 IS NOT NULL
                      AND JGDM IS NULL
                GROUP BY v.AKB020
                )
                loop
                    insert into JC_LDJG(ID,QXDM ,JGDM,INSTITUTION_NO,JGMC,LXDZ,LXR,LXDH,JGLX,JGLBDM,
                                        SUPERVISE,OPENING_TIME,BUYING_MEDICINE,PHYSIOTHERAPY,INPATIENT,REGULATORY_MODEL,
                                        ADDTIME)
                    VALUES (SYS_GUID(),'100001', i.AKB020,i.AKB020, i.AKB021,i.AAE006,i.AAE004,i.AAE005,
                            decode(i.AKB022,'医疗机构','1','2'),
                            decode(i.AKB022,'医疗机构','A1','E1'),
                            '1',sysdate,'1','1','1','0',
                            sysdate);
                    commit;
                end loop;
        end;
    </select>

    <select id="migrateJyZybrkSInfo">
        declare
        begin
            for i in (
                select replace(substr(v.AKF002,16,50),' ','') ksmc,l.ID yldwid
                from jysi.jgxt_zyryjbxx@to_dr v,JC_LDJG l
                where v.BKC194 is null and l.jgdm = v.AKB020
                      group by replace(substr(v.AKF002,16,50),' ',''),v.AKB020,l.ID
                        having replace(substr(v.AKF002,16,50),' ','') is not null
                               and not exists(select 1 from JC_YLDWKS where KSMC = replace(substr(v.AKF002,16,50),' ',''))
                )
                loop
                    insert into JC_YLDWKS(ksid, ksmc, yldwid, isllks, specialdepartment, beds, ksdm)
                    values (sys_guid(),i.ksmc,i.yldwid,0,0,null,
                            (select decode(max(to_number(KSDM)),null,0,max(to_number(KSDM))) + 1 from JC_YLDWKS where trim(translate(KSDM, '0123456789', ' ')) is null)
                            );
                    Commit;
                end loop;
        end;
    </select>

    <select id="migrateJyZybrChInfo">
        declare
        begin
            for i in (select z.ZYBRID,v.AKE020 CH
                            from jysi.jgxt_zyryjbxx@to_dr v,
                                 JC_LDJG l,
                                 YW_JZZP j,
                                 YW_ZYBR z
                            where v.AKB020 = l.JGDM
                              and v.AAC001 = j.PERSONALNUMBER
                              and z.YLDWID = l.ID
                              AND z.ZPID = j.ZPID
                              and v.AKB020 IS NOT NULL
                              AND v.BKC194 IS NULL
                              AND ZYBRID IS NOT NULL
                              AND l.ID IS NOT NULL
                              AND v.AKE020 IS NOT NULL
                              AND (Z.CH IS NULL OR z.CH != v.AKE020))
                loop
                    update YW_ZYBR set CH = i.CH where ZYBRID = i.ZYBRID;
                    commit;
                end loop;
        end;
    </select>

    <select id="migrateJyZybrInfo">
        declare
        begin
            for i in (select l.ID,j.ZPID,v.AAE135 SFZH,v.AAC003 XM,v.BKC192 RZSJ,v.AKA130 ZYLB,v.AKF002 AKF002,
                             v.BKC231 DISEASE_DIAGNOSIS,v.AKC021 NATURE_PERSONNEL,v.AAB001 INSURED_UNIT
                        from jysi.jgxt_zyryjbxx@to_dr v
                        left join JC_LDJG l on v.AKB020 = JGDM
                        left join YW_JZZP j on v.AAC001 = j.PERSONALNUMBER
                        left join YW_ZYBR z on z.YLDWID = l.ID AND z.ZPID = j.ZPID
                        where v.AKB020 IS NOT NULL AND v.BKC194 IS NULL AND ZYBRID IS NULL AND l.ID IS NOT NULL)
                loop
                    insert into YW_ZYBR(ZYBRID, YLDWID,ZPID,SBKH,SFZH,XM,RZSJ,KSID,HOSPITALCATEGORY,DISEASE_DIAGNOSIS,NATURE_PERSONNEL,INSURED_UNIT)
                    VALUES (SYS_GUID(), i.ID,i.ZPID,i.SFZH, i.SFZH,i.XM,i.RZSJ,
                            (select KSID from JC_YLDWKS S where S.YLDWID = i.ID AND replace(substr(i.AKF002,16,50),' ','') = KSMC),
                            decode(i.ZYLB,'普通','1','外伤','2','生育','3','护理康复','5','4'),i.DISEASE_DIAGNOSIS,i.NATURE_PERSONNEL,i.INSURED_UNIT);
                    commit;
                end loop;
        end;
    </select>

    <select id="migrateJyZybrCyInfo">
        declare
        begin
            for i in (
                select ZYBRID
                from (select ZYBRID, PERSONALNUMBER, JGDM, RZSJ
                      from JC_LDJG l,
                           YW_ZYBR z,
                           YW_JZZP j
                      where l.ID = z.YLDWID
                        and j.ZPID = z.ZPID
                        and z.SFCY = 0) b
                         left join jysi.jgxt_zyryjbxx@to_dr v
                                   on b.PERSONALNUMBER = v.AAC001 and b.JGDM = v.AKB020 and b.RZSJ = v.BKC192
                where v.AAC001 is null)
                loop
                    update YW_ZYBR set SFCY = 1, CYSJ = sysdate where ZYBRID = i.ZYBRID;
                    commit;
                    commit;
                end loop;
        end;
    </select>

    <select id="getQhJzzpInfoByGxsj" resultType="com.tor.project.entity.QhJzzpInfo">
        select 个人编号 grbh,姓名 xm,社保卡号 sbkh,身份证号码 sfzh,更新时间 gxsj,统筹区 tcq
        from AC01_YYJG@QHDR
        where 1=1
        and  #{maxSize} >= ROWNUM
        and 更新时间 > to_date(#{gxsj},'yyyy-MM-dd hh24:mi:ss')
        and 个人编号 is not null
    </select>

    <select id="getQhLdjgInfoByGxsj" resultType="com.tor.project.entity.Ldjg">
        select 两定机构代码 jgdm,机构名称 jgmc,机构地址 lxdz,联系人 lxr,联系电话 lxdh,类型 jglx,更新时间 addtime
        from kb01_yyjg@QHDR
        where 1=1
        and  #{maxSize} >= ROWNUM
        and 更新时间 > to_date(#{gxsj},'yyyy-MM-dd hh24:mi:ss')
    </select>

    <select id="getQhZybrInfo" resultType="com.tor.project.entity.QhZybrInfo">
        select 机构编号 jgdm,个人编号 grbh,姓名 xm,身份证号 sfzh,科室 ks,入院时间 rysj,出院时间 cysj,床位 ch,住院类别 zylb,BKC231 jbzd,人员性质 rysz,参保单位 cbdw , 统筹区 tcq
        from kc21_yyjg@QHDR
        where 1=1
        and 出院时间 is null
        and 机构编号 is not null
        and 个人编号 is not null
        and 入院时间 is not null
    </select>

    <select id="getQhZybrCyInfo" resultType="com.tor.project.entity.QhZybrInfo">
        select 机构编号 jgdm,个人编号 grbh,姓名 xm,身份证号 sfzh,科室 ks,入院时间 rysj,出院时间 cysj,床位 ch,住院类别 zylb,BKC231 jbzd,人员性质 rysz,参保单位 cbdw , 统筹区 tcq
        from kc21_yyjg@QHDR
        where 1=1
        and 出院时间 is not null
        and 机构编号 = #{jgdm}
        and 个人编号 = #{grbh}
        and 入院时间 = #{rysj}
    </select>

    <insert id="saveJzzp">
        INSERT INTO YW_JZZP (sfzh, xm, sbkh, personalnumber, thread_number
        <if test="insuredAreaCode != null and insuredAreaCode != ''">
            ,INSURED_AREA_CODE
        </if>
        )
        VALUES (#{sfzh}, #{xm}, #{sbkh}, #{personalnumber}, #{threadNumber}
        <if test="insuredAreaCode != null and insuredAreaCode != ''">
            ,#{insuredAreaCode}
        </if>
        )
    </insert>

    <insert id="updateJzp">
        update yw_jzzp set
         sfzh = #{sfzh},
         xm = #{xm},
         sbkh = #{sbkh},
         personalnumber = #{personalnumber}
        where zpid = #{zpid}
    </insert>
</mapper>
