<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tor.activity.mapper.ActivityItemMapper" >
  <resultMap id="BaseResultMap" type="com.tor.activity.entity.ActivityItem" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ACTIVITY_ID" property="activityId" jdbcType="VARCHAR" />
    <result column="ACTIVITY_ITEM_NAME" property="activityItemName" jdbcType="VARCHAR" />
    <result column="ITEM_NAME_SUM" property="itemNameSum" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP" />
    <result column="UPDATOR" property="updator" jdbcType="VARCHAR" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="VARCHAR" />
    <result column="VERSION_NO" property="versionNo" jdbcType="INTEGER" />
    <result column="INDEX_FLAG" property="indexFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ACTIVITY_ID, ACTIVITY_ITEM_NAME, ITEM_NAME_SUM, DESCRIPTION, CREATE_DT, CREATOR, 
    UPDATE_DT, UPDATOR, DELETE_FLAG, VERSION_NO, INDEX_FLAG
  </sql>
  <!--自定义-->
  <select id="selectByParams" resultMap="BaseResultMap">
    SELECT *
    FROM tcz_activity_item
    <where>
      <if test="params.activityId!=null">
        activity_id=#{params.activityId}
      </if>
    </where>
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tcz_activity_item
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tcz_activity_item
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tor.activity.entity.ActivityItem" >
    insert into tcz_activity_item (ID, ACTIVITY_ID, ACTIVITY_ITEM_NAME, 
      ITEM_NAME_SUM, DESCRIPTION, CREATE_DT, 
      CREATOR, UPDATE_DT, UPDATOR, 
      DELETE_FLAG, VERSION_NO, INDEX_FLAG
      )
    values (#{id,jdbcType=VARCHAR}, #{activityId,jdbcType=VARCHAR}, #{activityItemName,jdbcType=VARCHAR}, 
      #{itemNameSum,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createDt,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{updateDt,jdbcType=TIMESTAMP}, #{updator,jdbcType=VARCHAR}, 
      #{deleteFlag,jdbcType=VARCHAR}, #{versionNo,jdbcType=INTEGER}, #{indexFlag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tor.activity.entity.ActivityItem" >
    insert into tcz_activity_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="activityId != null" >
        ACTIVITY_ID,
      </if>
      <if test="activityItemName != null" >
        ACTIVITY_ITEM_NAME,
      </if>
      <if test="itemNameSum != null" >
        ITEM_NAME_SUM,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="createDt != null" >
        CREATE_DT,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="updateDt != null" >
        UPDATE_DT,
      </if>
      <if test="updator != null" >
        UPDATOR,
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG,
      </if>
      <if test="versionNo != null" >
        VERSION_NO,
      </if>
      <if test="indexFlag != null" >
        INDEX_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="activityItemName != null" >
        #{activityItemName,jdbcType=VARCHAR},
      </if>
      <if test="itemNameSum != null" >
        #{itemNameSum,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null" >
        #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateDt != null" >
        #{updateDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="versionNo != null" >
        #{versionNo,jdbcType=INTEGER},
      </if>
      <if test="indexFlag != null" >
        #{indexFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tor.activity.entity.ActivityItem" >
    update tcz_activity_item
    <set >
      <if test="activityId != null" >
        ACTIVITY_ID = #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="activityItemName != null" >
        ACTIVITY_ITEM_NAME = #{activityItemName,jdbcType=VARCHAR},
      </if>
      <if test="itemNameSum != null" >
        ITEM_NAME_SUM = #{itemNameSum,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null" >
        CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateDt != null" >
        UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        UPDATOR = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="versionNo != null" >
        VERSION_NO = #{versionNo,jdbcType=INTEGER},
      </if>
      <if test="indexFlag != null" >
        INDEX_FLAG = #{indexFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tor.activity.entity.ActivityItem" >
    update tcz_activity_item
    set ACTIVITY_ID = #{activityId,jdbcType=VARCHAR},
      ACTIVITY_ITEM_NAME = #{activityItemName,jdbcType=VARCHAR},
      ITEM_NAME_SUM = #{itemNameSum,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=VARCHAR},
      UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},
      UPDATOR = #{updator,jdbcType=VARCHAR},
      DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR},
      VERSION_NO = #{versionNo,jdbcType=INTEGER},
      INDEX_FLAG = #{indexFlag,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>